change = function (keys) {
  if(keys == ""){
    return "其他地区";
  }
  var list = ['','北京', '日照', '其他地区']
  var retList = keys.split(',')
  var result = ''
  for(var i=0;i<retList.length;i++){
    var index = parseInt(retList[i], 10);
    if(result == ""){
      result=list[index];
    }else{
      result=result + "," + list[index];
    }
  }
  return result
}
module.exports = {
  change: change
}